.the-feed {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 90%;

    .feed-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border-bottom: 2px solid white;

        h2 {
            color: white;
        }
    }

    .addFeedButton {
        background-color: white;
        border-color: transparent;

        &:hover {
            background-color: transparent;
            border-color: white;
        }
    }

    .no-feeds {
        display: flex;
        flex-direction: column;
        color: white;
        justify-content: center;
        align-items: center;
        height: 40px;
        margin-top: 3em;
    }
}
