.addFeed {
    border: 2px solid red;
    width: 50vw;
    display: flex;
    flex-direction: column;

    .cancelAdd {
        position: absolute;
        top: 0;
        right: 0;
        margin: 1em;
        cursor: pointer;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: space-between;
        justify-content: center;
        input {
            margin: 1em;
            border: 1px solid green;
            height: 2em;
        }

        button {
            color: white;
            background-color: red;
            margin: 1em;

            &:hover {
                background-color: violet;
            }

            &:disabled {
                background-color: ghostwhite;
                cursor: not-allowed;
                border-color: darkgray;
                color: darkgray;
            }
        }
    }
}
