.addFeed {
    border: 2px solid red;
    width: 35%;
    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;
    padding: 20px;
    border-radius: 0.5em;
    align-items: flex-end;

    .closeAdd {
        display: flex;
        flex-direction: row;
        width: fit-content;
        color: black;
    }
    .addFormContent {
        display: flex;
        flex-direction: column;
        width: 100%;

        form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: stretch;
            width: 100%;

            label {
                padding: 0;
            }

            input {
                border: 1px solid green;
                height: 2em;
                padding: 0.5em;
            }

            .modalButtons {
                color: white;
                margin: 1em;
                display: flex;
                flex-direction: row;
                justify-content: flex-end;

                .submitForm {
                    background-color: green;
                }

                .cancel {
                    background-color: red;
                }

                button:first-of-type {
                    margin-right: 8px;
                }

                button:hover {
                    background-color: violet;
                }

                button:disabled {
                    background-color: ghostwhite;
                    cursor: not-allowed;
                    border-color: darkgray;
                    color: darkgray;
                }
            }
        }
    }
}
