body {
    background-color: black;
    border: 1px solid yellow;
    overflow: hidden;
}

#root {
    overflow: hidden;
    margin: 0 auto;
    background-color: black;
}

button {
    background-color: transparent;
    border: 1px solid white;
    color: white;

    &:active {
        background-color: white;
        color: black;
    }
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.feeder {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    .header {
        background-color: green;
        width: 100%;
        height: 64px;
        z-index: 999;

        .header-items {
            width: 90%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            margin: 0 auto;
            color: white;

            .configuration {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 50px;
                height: 50px;
                border-radius: 2em;
                background-color: rgb(66, 66, 66);
                border-color: lightgray;
                border-width: 2px;
                color: white;
                box-shadow: 0 4px rgba(0, 0, 0, 0.3);

                &:hover {
                    background-color: black;
                    color: white;
                }
            }
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        justify-content: flex-start;
        align-items: center;
        overflow-y: scroll;
    }
}
